name: com.{{ .Integration.CompanyName }}.{{ .Integration.Name }}
description: {{ .Integration.Description }}
protocol_version: {{ .Integration.ProtocolVersion }}
os: {{ .Integration.OS }}

commands:
  metrics:
    command:
      - ./bin/{{ .Integration.BinaryName }}
      - --metrics
    interval: {{ .Integration.Interval }}

  inventory:
    command:
      - ./bin/{{ .Integration.BinaryName }}
      - --inventory
    prefix: {{ .Integration.Prefix }}
    interval: {{ .Integration.Interval }}
  events:
    command:
    - ./bin/{{ .Integration.BinaryName }}
    - --events
    interval: {{ .Integration.Interval }}